body{
	background-color: goldenrod;
}

p{
	background-color: moccasin;
	color: rgb(70,70,70);
	border-radius:50px;
	padding: 120px;
	margin: auto;
	margin-top:20%;
	font-size: 5em;
	font-family: Cooper std;
	text-align: center;
	width: 60%;
}
