body{
	background-color: goldenrod;
}

p{
<<<<<<< HEAD
	color:rgb(70,70,70);
	width:60%;
	background-color: moccasin;
	font-family:Cooper Std;
	padding: 120px;
	font-size: 5em;
	border-radius: 50px;
	text-align: center;
	margin: auto;
	margin-top: 200px;
}
=======
	background-color: moccasin;
	color: rgb(70,70,70);
	border-radius:50px;
	padding: 120px;
	margin: auto;
	margin-top:20%;
	font-size: 5em;
	font-family: Cooper std;
	text-align: center;
	width: 60%;
}
>>>>>>> origin/master
